input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

#UpperBanner {
    width: 1500px;
    height: 60px;
    background-color: aliceblue;
}
canvas {
    background-color: aqua;
}

#LowerBanner {
    width: 1500px;
    height: 125px;
    background-color: aliceblue;
}

#angle {
    overflow: hidden;
    height: 75%;
}

#power {
    overflow: hidden;
    width: 8%;
    height: 45%;
}