input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

#UpperBanner {
    width: 1500px;
    height: 60px;
    background-color: blue;
}
canvas {
    background-color: aqua;
}

#LowerBanner {
    width: 1500px;
    height: 125px;
    background-color: aliceblue;
}

#angle {
    display:inline-flex;
    text-align: center;
}