input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

#UpperBanner {
    width: 1500px;
    height: 60px;
    color: blue;
}
canvas {
    background-color: aqua;
}